@import "../variables.scss";

.bg-rosa {
    background-color: $color_1;
}

.bg-chocolate {
    background-color: $color_2;
}

.bg-blanco {
    background-color: #ffffff;
}

.c-blanco {
    color: #ffffff;
}

.c-chocolate {
    color: $color_12  !important;
}

.rosaclaro {
    background-color: #FFC6CC;
}

.bg-damasco {
    background-color: #f6bf9f;
}

.c-rosa {
    color: #DD1D5F;
}

.bg-rosa-oscuro {
    background-color: #DD1D5F;
}