@import "../variables.scss";
.bg-rosa {
    background-color: $color_1;
}

.bg-chocolate {
    background-color: $color_2;
}

.bg-blanco {
    background-color: #ffffff;
}

.c-blanco {
    color: #ffffff;
}

.c-chocolate {
    color: $color_12 !important;
}

.rosaclaro {
    color: #f3bdd7;
}