//PALETA 1
$color_1: #e1758e;
$color_2: #f3bdd7;
$color_3: #f6bf9f;
$color_4: #bfe4ff;
$color_5: #a3b4fd;
$color_6: #c3c5f8;
//PALETA 2
$color_7: #ee9c6a;
$color_8: #f5b99a;
$color_9: #d1dce2;
$color_10: #b3ddd1;
$color_11: #80beaf;
$color_12: #571f1f;
//BANNER ADMIN
$color_dorado: #ffcd68;
$color_rosafuerte: #dd1d5f;