//PALETA 1

$color_1: #E1758E;
$color_2: #F3BDD7;
$color_3: #f6bf9f;
$color_4: #BFE4FF;
$color_5: #A3B4FD;
$color_6: #C3C5F8;

//PALETA 2 

$color_7: #EE9C6A;
$color_8: #F5B99A;
$color_9: #D1DCE2;
$color_10: #B3DDD1;
$color_11: #80BEAF;
$color_12: #571F1F;